version: '3'

services:
  base:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    sysctls:
      net.core.somaxconn: 1024

  pubsub:
    image: "redis:alpine"
    ports:
      - "6380:6379"
    sysctls:
      net.core.somaxconn: 1024

  base_with_auth:
    image: "redis:5-alpine"
    command: redis-server --requirepass some-password
    ports:
      - "16379:6379"
    sysctls:
      net.core.somaxconn: 1024

  base_with_acl:
    build: ./test/docker/base_with_acl
    ports:
      - "6385:6379"
    sysctls:
      net.core.somaxconn: 1024

  sentinel:
    build: ./test/docker/sentinel
    ports:
      - "6381:6381"
      - "6382:6382"
      - "26379:26379"
      - "26380:26380"
      - "26381:26381"
    sysctls:
      net.core.somaxconn: 1024

  sentinel_with_auth:
    build: ./test/docker/sentinel_with_auth
    ports:
      - "6383:6383"
      - "26383:26383"
    sysctls:
      net.core.somaxconn: 1024

  base_with_stunnel:
    image: dweomer/stunnel@sha256:2d8fc61859475e7fef470c8a45219acea5b636c284339d811873819e532209e7
    environment:
      - STUNNEL_SERVICE=base
      - STUNNEL_ACCEPT=6384
      - STUNNEL_CONNECT=base:6379
    links:
      - base
    ports:
      - 6384:6384
    sysctls:
      net.core.somaxconn: 1024

  base_with_disallowed_client_command:
    build: ./test/docker/base_with_disallowed_client_command
    ports:
      - "6386:6379"
    sysctls:
      net.core.somaxconn: 1024
