name: Publish to Hex

on:
  push:
    tags:
      - v*

jobs:
  publish:
    name: Publish to Hex

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Install Erlang and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "26.0.2"
          elixir-version: "1.15.4"

      - name: Fetch and compile dependencies
        run: mix do deps.get + deps.compile

      - name: Publish to Hex
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
